<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app" class="wrapper">
    <div id="content">
      <form style="width: 460px;">
        <el-form ref="searchFormData" :model="searchFormData" label-width="120px">
          <el-form-item label="Activity place">
            <el-input v-model="searchFormData.placeName"></el-input>
          </el-form-item>
          <el-form-item label="Activity time">
            <el-col :span="11">
              <el-date-picker type="date" placeholder="Pick a date" v-model="searchFormData.checkInDate" style="width: 100%;"></el-date-picker>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
              <el-date-picker type="date" placeholder="Pick a date" v-model="searchFormData.checkOutDate" style="width: 100%;"></el-date-picker>
            </el-col>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="search">Submit</el-button>
            <el-button>Cancel</el-button>
          </el-form-item>
        </el-form>
      </form>

      <!-- 確認用 -->
      <p>住所: {{ searchFormData.placeName }}</p>
      <p>チェックイン: {{ searchFormData.checkInDate }}</p>
      <p>チェックアウト: {{ searchFormData.checkOutDate }}</p>
      <p>緯度: {{ lat }}</p>
      <p>経度: {{ lng }}</p>
      <div>
        <ul>
          <li v-for="result in results">
            ホテル名:{{ result.hotelBasicInfo.hotelName}}
          </li>

        </ul>

      </div>
      <div id="map"></div>
    </div>
  </div>
</body>

<script src="addgmap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script defer src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script defer src="main.js"></script>
</html>
